<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="CalendarFrame">
		<size>310,280</size>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<handler function="OnPanel1Paint" entry="EVT_PAINT" />
					<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
						<cols>4</cols>
						<object class="sizeritem">
							<object class="wxButton" name="ID_BUTTON1" variable="Btn_Back" member="yes">
								<label>&lt;</label>
								<size>29,29</size>
								<handler function="OnBtn_BackClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_BUTTON2" variable="Btn_Next" member="yes">
								<label>&gt;</label>
								<size>29,29</size>
								<handler function="OnBtn_NextClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
								<size>95,29</size>
								<style>wxTE_READONLY</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxComboBox" name="ID_COMBOBOX1" variable="ComboBox1" member="yes">
								<content>
									<item>--January--</item>
									<item>01/01/2018</item>
									<item>02/01/2018</item>
									<item>03/01/2018</item>
									<item>04/01/2018</item>
									<item>05/01/2018</item>
									<item>06/01/2018</item>
									<item>07/01/2018</item>
									<item>08/01/2018</item>
									<item>09/01/2018</item>
									<item>10/01/2018</item>
									<item>11/01/2018</item>
									<item>12/01/2018</item>
									<item>13/01/2018</item>
									<item>14/01/2018</item>
									<item>15/01/2018</item>
									<item>16/01/2018</item>
									<item>17/01/2018</item>
									<item>18/01/2018</item>
									<item>19/01/2018</item>
									<item>20/01/2018</item>
									<item>21/01/2018</item>
									<item>22/01/2018</item>
									<item>23/01/2018</item>
									<item>24/01/2018</item>
									<item>25/01/2018</item>
									<item>26/01/2018</item>
									<item>27/01/2018</item>
									<item>28/01/2018</item>
									<item>29/01/2018</item>
									<item>30/01/2018</item>
									<item>31/01/2018</item>
									<item>--February--</item>
									<item>01/02/2018</item>
									<item>02/02/2018</item>
									<item>03/02/2018</item>
									<item>04/02/2018</item>
									<item>05/02/2018</item>
									<item>06/02/2018</item>
									<item>07/02/2018</item>
									<item>08/02/2018</item>
									<item>09/02/2018</item>
									<item>10/02/2018</item>
									<item>11/02/2018</item>
									<item>12/02/2018</item>
									<item>13/02/2018</item>
									<item>14/02/2018</item>
									<item>15/02/2018</item>
									<item>16/02/2018</item>
									<item>17/02/2018</item>
									<item>18/02/2018</item>
									<item>19/02/2018</item>
									<item>20/02/2018</item>
									<item>21/02/2018</item>
									<item>22/02/2018</item>
									<item>23/02/2018</item>
									<item>24/02/2018</item>
									<item>25/02/2018</item>
									<item>26/02/2018</item>
									<item>27/02/2018</item>
									<item>28/02/2018</item>
									<item>----March----</item>
									<item>01/03/2018</item>
									<item>02/03/2018</item>
									<item>03/03/2018</item>
									<item>04/03/2018</item>
									<item>05/03/2018</item>
									<item>06/03/2018</item>
									<item>07/03/2018</item>
									<item>08/03/2018</item>
									<item>09/03/2018</item>
									<item>10/03/2018</item>
									<item>11/03/2018</item>
									<item>12/03/2018</item>
									<item>13/03/2018</item>
									<item>14/03/2018</item>
									<item>15/03/2018</item>
									<item>16/03/2018</item>
									<item>17/03/2018</item>
									<item>18/03/2018</item>
									<item>19/03/2018</item>
									<item>20/03/2018</item>
									<item>21/03/2018</item>
									<item>22/03/2018</item>
									<item>23/03/2018</item>
									<item>24/03/2018</item>
									<item>25/03/2018</item>
									<item>26/03/2018</item>
									<item>27/03/2018</item>
									<item>28/03/2018</item>
									<item>29/03/2018</item>
									<item>30/03/2018</item>
									<item>31/03/2018</item>
									<item>-----April-----</item>
									<item>01/04/2018</item>
									<item>02/04/2018</item>
									<item>03/04/2018</item>
									<item>04/04/2018</item>
									<item>05/04/2018</item>
									<item>06/04/2018</item>
									<item>07/04/2018</item>
									<item>08/04/2018</item>
									<item>09/04/2018</item>
									<item>10/04/2018</item>
									<item>11/04/2018</item>
									<item>12/04/2018</item>
									<item>13/04/2018</item>
									<item>14/04/2018</item>
									<item>15/04/2018</item>
									<item>16/04/2018</item>
									<item>17/04/2018</item>
									<item>18/04/2018</item>
									<item>19/04/2018</item>
									<item>20/04/2018</item>
									<item>21/04/2018</item>
									<item>22/04/2018</item>
									<item>23/04/2018</item>
									<item>24/04/2018</item>
									<item>25/04/2018</item>
									<item>26/04/2018</item>
									<item>27/04/2018</item>
									<item>28/04/2018</item>
									<item>29/04/2018</item>
									<item>30/04/2018</item>
									<item>------May------</item>
									<item>01/05/2018</item>
									<item>02/05/2018</item>
									<item>03/05/2018</item>
									<item>04/05/2018</item>
									<item>05/05/2018</item>
									<item>06/05/2018</item>
									<item>07/05/2018</item>
									<item>08/05/2018</item>
									<item>09/05/2018</item>
									<item>10/05/2018</item>
									<item>11/05/2018</item>
									<item>12/05/2018</item>
									<item>13/05/2018</item>
									<item>14/05/2018</item>
									<item>15/05/2018</item>
									<item>16/05/2018</item>
									<item>17/05/2018</item>
									<item>18/05/2018</item>
									<item>19/05/2018</item>
									<item>20/05/2018</item>
									<item>21/05/2018</item>
									<item>22/05/2018</item>
									<item>23/05/2018</item>
									<item>24/05/2018</item>
									<item>25/05/2018</item>
									<item>26/05/2018</item>
									<item>27/05/2018</item>
									<item>28/05/2018</item>
									<item>29/05/2018</item>
									<item>30/05/2018</item>
									<item>31/05/2018</item>
									<item>-----June-----</item>
									<item>01/06/2018</item>
									<item>02/06/2018</item>
									<item>03/06/2018</item>
									<item>04/06/2018</item>
									<item>05/06/2018</item>
									<item>06/06/2018</item>
									<item>07/06/2018</item>
									<item>08/06/2018</item>
									<item>09/06/2018</item>
									<item>10/06/2018</item>
									<item>11/06/2018</item>
									<item>12/06/2018</item>
									<item>13/06/2018</item>
									<item>14/06/2018</item>
									<item>15/06/2018</item>
									<item>16/06/2018</item>
									<item>17/06/2018</item>
									<item>18/06/2018</item>
									<item>19/06/2018</item>
									<item>20/06/2018</item>
									<item>21/06/2018</item>
									<item>22/06/2018</item>
									<item>23/06/2018</item>
									<item>24/06/2018</item>
									<item>25/06/2018</item>
									<item>26/06/2018</item>
									<item>27/06/2018</item>
									<item>28/06/2018</item>
									<item>29/06/2018</item>
									<item>30/06/2018</item>
									<item>------July------</item>
									<item>01/07/2018</item>
									<item>02/07/2018</item>
									<item>03/07/2018</item>
									<item>04/07/2018</item>
									<item>05/07/2018</item>
									<item>06/07/2018</item>
									<item>07/07/2018</item>
									<item>08/07/2018</item>
									<item>09/07/2018</item>
									<item>10/07/2018</item>
									<item>11/07/2018</item>
									<item>12/07/2018</item>
									<item>13/07/2018</item>
									<item>14/07/2018</item>
									<item>15/07/2018</item>
									<item>16/07/2018</item>
									<item>17/07/2018</item>
									<item>18/07/2018</item>
									<item>19/07/2018</item>
									<item>20/07/2018</item>
									<item>21/07/2018</item>
									<item>22/07/2018</item>
									<item>23/07/2018</item>
									<item>24/07/2018</item>
									<item>25/07/2018</item>
									<item>26/07/2018</item>
									<item>27/07/2018</item>
									<item>28/07/2018</item>
									<item>29/07/2018</item>
									<item>30/07/2018</item>
									<item>31/07/2018</item>
									<item>---August----</item>
									<item>01/08/2018</item>
									<item>02/08/2018</item>
									<item>03/08/2018</item>
									<item>04/08/2018</item>
									<item>05/08/2018</item>
									<item>06/08/2018</item>
									<item>07/08/2018</item>
									<item>08/08/2018</item>
									<item>09/08/2018</item>
									<item>10/08/2018</item>
									<item>11/08/2018</item>
									<item>12/08/2018</item>
									<item>13/08/2018</item>
									<item>14/08/2018</item>
									<item>15/08/2018</item>
									<item>16/08/2018</item>
									<item>17/08/2018</item>
									<item>18/08/2018</item>
									<item>19/08/2018</item>
									<item>20/08/2018</item>
									<item>21/08/2018</item>
									<item>22/08/2018</item>
									<item>23/08/2018</item>
									<item>24/08/2018</item>
									<item>25/08/2018</item>
									<item>26/08/2018</item>
									<item>27/08/2018</item>
									<item>28/08/2018</item>
									<item>29/08/2018</item>
									<item>30/08/2018</item>
									<item>31/08/2018</item>
									<item>-September-</item>
									<item>01/09/2018</item>
									<item>02/09/2018</item>
									<item>03/09/2018</item>
									<item>04/09/2018</item>
									<item>05/09/2018</item>
									<item>06/09/2018</item>
									<item>07/09/2018</item>
									<item>08/09/2018</item>
									<item>09/09/2018</item>
									<item>10/09/2018</item>
									<item>11/09/2018</item>
									<item>12/09/2018</item>
									<item>13/09/2018</item>
									<item>14/09/2018</item>
									<item>15/09/2018</item>
									<item>16/09/2018</item>
									<item>17/09/2018</item>
									<item>18/09/2018</item>
									<item>19/09/2018</item>
									<item>20/09/2018</item>
									<item>21/09/2018</item>
									<item>22/09/2018</item>
									<item>23/09/2018</item>
									<item>24/09/2018</item>
									<item>25/09/2018</item>
									<item>26/09/2018</item>
									<item>27/09/2018</item>
									<item>28/09/2018</item>
									<item>29/09/2018</item>
									<item>30/09/2018</item>
									<item>--October--</item>
									<item>01/10/2018</item>
									<item>02/10/2018</item>
									<item>03/10/2018</item>
									<item>04/10/2018</item>
									<item>05/10/2018</item>
									<item>06/10/2018</item>
									<item>07/10/2018</item>
									<item>08/10/2018</item>
									<item>09/10/2018</item>
									<item>10/10/2018</item>
									<item>11/10/2018</item>
									<item>12/10/2018</item>
									<item>13/10/2018</item>
									<item>14/10/2018</item>
									<item>15/10/2018</item>
									<item>16/10/2018</item>
									<item>17/10/2018</item>
									<item>18/10/2018</item>
									<item>19/10/2018</item>
									<item>20/10/2018</item>
									<item>21/10/2018</item>
									<item>22/10/2018</item>
									<item>23/10/2018</item>
									<item>24/10/2018</item>
									<item>25/10/2018</item>
									<item>26/10/2018</item>
									<item>27/10/2018</item>
									<item>28/10/2018</item>
									<item>29/10/2018</item>
									<item>30/10/2018</item>
									<item>31/10/2018</item>
									<item>-November-</item>
									<item>01/11/2018</item>
									<item>02/11/2018</item>
									<item>03/11/2018</item>
									<item>04/11/2018</item>
									<item>05/11/2018</item>
									<item>06/11/2018</item>
									<item>07/11/2018</item>
									<item>08/11/2018</item>
									<item>09/11/2018</item>
									<item>10/11/2018</item>
									<item>11/11/2018</item>
									<item>12/11/2018</item>
									<item>13/11/2018</item>
									<item>14/11/2018</item>
									<item>15/11/2018</item>
									<item>16/11/2018</item>
									<item>17/11/2018</item>
									<item>18/11/2018</item>
									<item>19/11/2018</item>
									<item>20/11/2018</item>
									<item>21/11/2018</item>
									<item>22/11/2018</item>
									<item>23/11/2018</item>
									<item>24/11/2018</item>
									<item>25/11/2018</item>
									<item>26/11/2018</item>
									<item>27/11/2018</item>
									<item>28/11/2018</item>
									<item>29/11/2018</item>
									<item>30/11/2018</item>
									<item>-December-</item>
									<item>01/12/2018</item>
									<item>02/12/2018</item>
									<item>03/12/2018</item>
									<item>04/12/2018</item>
									<item>05/12/2018</item>
									<item>06/12/2018</item>
									<item>07/12/2018</item>
									<item>08/12/2018</item>
									<item>09/12/2018</item>
									<item>10/12/2018</item>
									<item>11/12/2018</item>
									<item>12/12/2018</item>
									<item>13/12/2018</item>
									<item>14/12/2018</item>
									<item>15/12/2018</item>
									<item>16/12/2018</item>
									<item>17/12/2018</item>
									<item>18/12/2018</item>
									<item>19/12/2018</item>
									<item>20/12/2018</item>
									<item>21/12/2018</item>
									<item>22/12/2018</item>
									<item>23/12/2018</item>
									<item>24/12/2018</item>
									<item>25/12/2018</item>
									<item>26/12/2018</item>
									<item>27/12/2018</item>
									<item>28/12/2018</item>
									<item>29/12/2018</item>
									<item>30/12/2018</item>
									<item>31/12/2018</item>
								</content>
								<selection>1</selection>
								<size>102,29</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
